.book-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.item-book {
  margin-top: 10px;
}

.book-item-card {
  width: 200px;
}


.book-item-image {
  height: 160px;
}
