<div class="cart-container">
  <div class="cart-header">
    <div [ngSwitch]="totalBook">
      <div [ngSwitch]="totalBook > 1">
        <div *ngSwitchCase="true"> Review your bag (current {{ totalBook }} products)</div>
      </div>
      <div *ngSwitchCase="1"> Review your bag (current {{ totalBook }} products)</div>
      <div *ngSwitchCase="0">You haven't added any products!</div>
    </div>
    <hr>
  </div>
  <div class="cart-body">
    <nz-list>
      <app-prd-item *ngFor="let item of bookList" [bookItem]="item"
        [quantity]="getQuantity(item.book_id.toString())"></app-prd-item>
    </nz-list>
  </div>
  <div class="cart-footer">
    <div class="footer-subtotal">

    </div>
    <div class="footer-total">

    </div>
  </div>
</div>
