.cart-container {
  padding: 20px 80px;

  .cart-header {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 22px;
  }

  .cart-footer {

    .footer-item, .footer-total {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: 500;

      .item_title {
        color: rgba(0, 0, 0, 0.7);
      }
    }
    .footer-total {
      align-items: center;

      .total_price{
        font-size: 20px;
      }
    }

    .footer-checkout{
      display: flex;
      justify-content: flex-end;

      .btn-checkout{
        width: 100%;
        letter-spacing: 0.5px;
        font-weight: 500;
      }
    }
  }


}
