<nz-collapse [nzExpandIconPosition]="'right'">
  <nz-collapse-panel
  *ngFor="let panel of [0]"
  [nzHeader]="'#1234522 | 27/10/2002'"
  [nzExtra]="extraTpl">
    <div *ngFor="let item of [0,1,2,3]" class="row" style="margin:0; margin-bottom: 10px;">
      <div class="col-3">
        <img
        nz-image
        width="57px"
        height="57px"
        nzSrc="https://drive.google.com/uc?id=1LEwECidNTZH0FRT_p9qEK9ALwpUAn4nP"
        alt="Imageeee"
        />
      </div>

      <div class="col-4 d-flex flex-column">
        <div>Book name #1</div>
        <div>| Review</div>
      </div>
      <div class="col-1">
        <div>2</div>
      </div>
      <div class="col-2">
        <div>20$</div>
      </div>
      <div class="col-2">
        <div>40$</div>
      </div>
    </div>
    <div class="d-flex justify-content-between" style="padding: 0 30px;">
      <span>Total: </span>
      <span>100$</span>
    </div>
  </nz-collapse-panel>
</nz-collapse>


<ng-template #extraTpl>
  <!-- You can use stopPropagation if you don't want the panel to toggle -->
  <span>Confirmed</span>
</ng-template>

<!-- <nz-list nzBordered>
<nz-list-item *ngFor="let item of [1]">
  <span nz-typography><mark>[ITEM]</mark></span>
  first Item
</nz-list-item>
</nz-list> -->
