<div class="product-item row">
  <div class="item-left col-9">
    <div class="item-image-block">
      <img class="img-fluid item-image" [src]="bookItem.cover" alt="The halo">
    </div>
    <div class="item-description">
      <div class="description_title">
        {{ bookItem.name }}
      </div>
      <div class="description_detail">
        <nz-collapse nzGhost>
          <nz-collapse-panel nzHeader="Details & Core" [nzActive]="false">
            <p style="margin:0; color: rgba(0, 0, 0, 0.75);">
              {{ bookItem.descriptions }}
            </p>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
    </div>
  </div>
  <div class="item-right col-3">
    <div class="item-quantity">
      <nz-input-number [(ngModel)]="quantity" [nzMin]="1" [nzMax]="100" [nzStep]="1"></nz-input-number>
    </div>
    <div class="item-total">
      {{ bookItem.price * quantity | currency: 'USD'}}
    </div>
    <div class="item-action-remove">
      <span style="font-size: 17px;" nz-icon nzType="delete" nzTheme="twotone" nzTwotoneColor="#EA7673"></span>
    </div>
  </div>
</div>
<hr class="divider">
