<div class="checkout-container row">
  <h2>Purchase Order</h2>
  <hr>
  <div class="checkout-information col-7">
    <form [formGroup]="checkoutForm" class="checkout-form">
      <h5 class="form_title"><span class="checkout-label-number">1</span>PERSONAL INFORMATION</h5>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" name="fullName" formControlName="fullName" placeholder="Full Name">
        <label>Full Name</label>
      </div>

      <div class="form-floating mb-3">
        <label class="arlert-msg"
          *ngIf="!checkoutForm.get('phoneNumber')?.valid && checkoutForm.get('phoneNumber')?.touched">
          Phone number must have 10 digits!
        </label>
        <input type="number" class="form-control" name="phoneNumber" formControlName="phoneNumber"
          placeholder="Phone Number">
        <label>Phone Number</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" name="email" formControlName="email" placeholder="Email">
        <label>Email</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" name="address" formControlName="address" placeholder="Address">
        <label>Address</label>
      </div>

      <h5 class="form_title"><span class="checkout-label-number">2</span>PAYMENT OPTIONS</h5>
      <div class="form-check mb-2">
        <input class="form-check-input" type="radio" name="paymentMethod" value="cash" checked>
        <label class="form-check-label">
          <img class="payments-icon" src="../../assets/icons/cash.svg">
          Payment in cash
        </label>
      </div>
      <div class="form-check mb-2">
        <input class="form-check-input" type="radio" name="paymentMethod" value="zalopay">
        <label class="form-check-label">
          <img class="payments-icon" src="../../assets/icons/zalopay.svg">
          ZaloPay
        </label>
      </div>
      <div class="form-check mb-2">
        <input class="form-check-input" type="radio" name="paymentMethod" value="atm">
        <label class="form-check-label">
          <img class="payments-icon" src="../../assets/icons/Atm.svg">
          ATM
        </label>
      </div>
      <div class="form-check mb-2">
        <input class="form-check-input" type="radio" name="paymentMethod" value="visa">
        <label class="form-check-label">
          <img class="payments-icon" src="../../assets/icons/visa-master-vcb.svg">
          Visa/Master/JCB
        </label>
      </div>

      <button [disabled]="!checkoutForm.valid" style="width: 100%;" class="btn btn-primary btn-block mb-3">
        <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
        Purchase
      </button>
    </form>
  </div>

  <div class="checkout-review col-5">
    <div class="review-summary">
      <div class="card mb-3">
        <div class="card-header bg-transparent">Your Order</div>
        <div class="card-body">
          <div class="list-group-item" *ngFor="let item of summaryCart">
            <app-review-item [bookItem]="item">
            </app-review-item>
          </div>
        </div>
        <div class="card-footer bg-transparent">
          <div class="footer_item">
            <span>SUM</span>
            <span>{{ totalBeforeVat$.value | currency }}</span>
          </div>
          <div class="footer_item">
            <span>VAT</span>
            <span>4%</span>
          </div>
          <div class="footer_item">
            <span>SHIPPING</span>
            <span>FREE</span>
          </div>
        </div>
        <div class="card-footer bg-transparent">
          <div class="footer_item">
            <span>Total:</span>
            <span>{{ totalAfterVat$.value | currency }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
