.review-item-container {
  display: flex;
  justify-content: space-between;

  .item-title {}

  .item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18%;
  }
}
