nz-layout {
  height: 100vh;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-footer {
  text-align: center;
}

nz-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Common class */
.component {
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  height: fit-content;
  padding: 5px 12px;
}

.component-seperate {
  margin: 10px 0;
}

.right-element {
  width: 60%;
  padding: 0;
  height: inherit;
}

.left-element {
  width: 38%;
  height: inherit;
}

.tripple {
  width: 32%;
}


.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;

  .header-setting {
    display: flex;
    align-items: center;

    .home-icon {
      margin-right: 10px;
      font-size: 20px;
    }
  }
}

.inner-content {
  padding: 24px;
  background: #F4F6F9;
  height: 100%;
  overflow: auto;

  /* RIGHT CONTENT */
  .profit-info-chart {

    .chart-card {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0 0 10px 0;
    }
  }

  .upcoming-events {

    .upcoming-events_title {
      margin: 6px 0 10px;
    }

    .upcoming-events_list {
      padding-left: 16px;

      .event-item {
        display: flex;
        align-items: center;
        margin-top: 12px;
      }
    }

    .upcoming-detail-btn {
      margin: 0 0 10px 10px;
    }
  }


  /* LEFT CONTENT */
  .top-selling-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .top-selling_header {
      margin: 6px 0 10px;
    }

    .top-sellers-list {
      padding-left: 16px;

      .top-seller_item {
        display: flex;
        align-items: center;
        margin-top: 12px;

        .item_sales {
          font-weight: 500;
        }
      }

      .top-seller_item:not(:last-child)::after {
        border-bottom: 1px solid #c1c1c1;
        content: "";
        display: block;
        width: 96%;
        margin-top: 8px;
      }
    }
  }

  .categories-container {

    .total-books-sold {
      text-align: center;
      text-decoration: overline;
      margin-top: 4px;
    }
  }
}


/* nz-avatar {
  margin-top: 16px;
  margin-right: 16px;
} */
