<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <a routerLink="/book" class="logo" *ngIf="!isCollapsed; else shortTitle">BOKET BookStore</a>
    <ng-template #shortTitle>
      <a routerLink="/book" class="logo">
        BOKET
      </a>
    </ng-template>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <span nz-icon nzType="line-chart"></span>
        <span>Dashboard</span>
      </li>
      <li nz-submenu nzTitle="Management" nzOpen nzIcon="edit">
        <ul>
          <li nz-menu-item>
            <span nz-icon nzType="team"></span>
            <span>Customers</span>
          </li>

          <li nz-menu-item>
            <span nz-icon nzType="tags"></span>
            <span>Products</span>
          </li>

          <li nz-menu-item>
            <span nz-icon nzType="shopping-cart"></span>
            <span>Orders</span>
          </li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Page" nzOpen nzIcon="info-circle">
        <ul>
          <li nz-menu-item>
            <span nz-icon nzType="calendar"></span>
            <span>Tasks</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <div class="admin-header">
        <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"></span>
        <div class="header-setting">
          <span class="home-icon" nz-icon nzType="home" nzTheme="outline"></span>
          <nz-avatar nzIcon="user"></nz-avatar>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <div class="content-header d-flex justify-content-between p-2">
          <h3>
            Overview
          </h3>
          <div>
            <nz-date-picker nzMode="year" [(ngModel)]="date"
              (ngModelChange)="onChangeCalendar($event)"></nz-date-picker>
          </div>
        </div>

        <div class="row d-flex justify-content-around mt-1">

          <div class="chart-container right-element">
            <div class="row chart-card">
              <div class="component tripple">
                <div class="chart-card_title">Total Profits</div>
                <div class="chart-card_info">$95,595</div>
              </div>
              <div class="component tripple">
                <div class="chart-card_title">Total Expenses</div>
                <div class="chart-card_info">$12,789</div>
              </div>
              <div class="component tripple">
                <div class="chart-card_title">Current Users</div>
                <div class="chart-card_info">212</div>
              </div>
            </div>
            <div class="component">
              <canvas id="salesChart">{{ salesChart }}</canvas>
            </div>
          </div>

          <div class="left-element component top-selling-container">
            <h4 class="top-selling_header">Top Selling Products</h4>
            <ul class="top-sellers-list">
              <li class="row top-seller_item">
                <div class="col-4 item-image">
                  <img class="img-fluid" src="https://images-eu.ssl-images-amazon.com/images/I/81OvOzDu3fL._AC_UL600_SR600,600_.jpg" alt="">
                </div>
                <div class="col-6">The Pivot Year</div>
                <div class="col-2">941$</div>
              </li>
            </ul>
          </div>

        </div>

        <!-- <button (click)="test()">Test Init BillRp function</button> -->
      </div>
    </nz-content>

  </nz-layout>
</nz-layout>
