nz-layout {
  height: 100vh;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-footer {
  text-align: center;
}

nz-avatar{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Common class */
.component{
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  height: fit-content;
  padding: 5px 12px;
}
.right-element{
  width: 60%;
  height: inherit;
}
.left-element{
  width: 38%;
  height: inherit;
}
.tripple{
  width: 32%;
}


.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.inner-content {
  padding: 24px;
  background: #F4F6F9;
  height: 100%;
}

.admin-header{
  display: flex;
  justify-content: space-between;
  padding-right: 16px;

  .header-setting{
    display: flex;
    align-items: center;

    .home-icon{
      margin-right: 10px;
      font-size: 20px;
    }
  }
}

.chart-card{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 10px 0;
}

.top-selling-container{

  .top-selling_header{
    margin: 6px 0;
  }

  .top-sellers-list{
    padding-left: 16px;

    .top-seller_item{

      .item-image{

      }

    }
  }
}

/* nz-avatar {
  margin-top: 16px;
  margin-right: 16px;
} */
