<div class="form-container">
  <form [formGroup]="registerForm" class="validate-account" (ngSubmit)="onCreateAcc()">
    <h3>Register account</h3>
    <hr>
    <label class="alert-msg" *ngIf="!registerForm.get('username')?.valid && registerForm.get('username')?.touched && registerForm.value['username']?.length > 0">Username is used, please try another.</label>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" name="username" formControlName="username" placeholder="username">
      <label>Username</label>
    </div>

    <div class="form-floating mb-3">
      <input type="email" class="form-control" name="email" formControlName="email" placeholder="email">
      <label>Email</label>
    </div>

    <div class="form-floating mb-3">
      <input type="password" class="form-control" name="password" formControlName="password" placeholder="Password">
      <label>Password</label>
    </div>

    <div class="form-floating mb-3">
      <input type="password" class="form-control" name="repeatPassword" formControlName="repeatPassword" placeholder="Repeat Password">
      <label>Repeat Password</label>
    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" name="fullName" formControlName="fullName" placeholder="Full Name">
      <label>Full Name</label>
    </div>

    <div class="mb-3">
      <nz-radio-group name="gender" formControlName="gender">
        <label nz-radio nzValue="male">Male</label>
        <label nz-radio nzValue="female">Female</label>
      </nz-radio-group>
    </div>

    <div class="alert-msg" *ngIf="!registerForm.get('phoneNumber')?.valid && registerForm.get('phoneNumber')?.touched">Phone number must have 10 digits!</div>
    <div class="form-floating mb-3">
      <input type="number" class="form-control"
            name="phoneNumber" formControlName="phoneNumber"
            placeholder="Phone Number">
      <label>Phone Number</label>
    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" name="address" formControlName="address" placeholder="Address">
      <label>Address</label>
    </div>

    <div class="mb-3">
      <label class="alert-msg" *ngIf="!registerForm.get('age')?.valid && registerForm.get('age')?.touched">Age is required!</label>
      <nz-input-number-group nzAddOnBefore="Age" style="width: 100%;">
        <nz-input-number name="age" formControlName="age" [nzMin]="1" [nzMax]="115" [nzStep]="1"></nz-input-number>
      </nz-input-number-group>
    </div>

    <div class="form-check d-flex justify-content-center mb-4">
      <input class="form-check-input me-2" type="checkbox" value="" checked
        aria-describedby="registerCheckHelpText" />
      <label class="form-check-label">
        I have read and agree to the terms
      </label>
    </div>
    <button type="button" (click)="checkDuplicate('nguyenduc')">test here</button>
    <button [disabled]="!registerForm.valid" style="width: 100%;" class="btn btn-primary btn-block mb-3">Sign in</button>

  </form>
</div>
